$main-color: #6c63ff;
$secondary-bg:#ebedff;
$gray-bg: #fafafa;
$main-text: #2f2f2f;
$secondary-text: #716d6f;
$white: #fff;
$border-2: 2px solid #6c63ff;
$border-4: 4px solid #6c63ff;
$radius: 10px;
$radius-circle: 100%